------------------------------------------------------------------------------
**Q1. What is a `database`? Differentiate between SQL and NoSQL databases.**
------------------------------------------------------------------------------

A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and management of data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems. SQL databases are relational databases that use a table-based data structure to store information. They are structured and use pre-defined schema to define the relationships between tables. SQL databases are commonly used in traditional enterprise applications.

On the other hand, NoSQL databases do not use tables to store information. They are non-relational and do not require a pre-defined schema. NoSQL databases are designed to be more flexible and scalable than SQL databases, and they can handle large amounts of unstructured and semi-structured data. They are often used in modern web applications and are popular for their ability to scale horizontally.

------------------------------------------------------------------------------
**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**
------------------------------------------------------------------------------

DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and manipulate the structure of database objects such as tables, indexes, views, etc.

The following are the most commonly used DDL commands in SQL:

CREATE: It is used to create a new database object such as a table, index, view, or procedure.

DROP: It is used to delete an existing database object such as a table, index, view, or procedure.

ALTER: It is used to modify the structure of an existing database object such as adding or deleting columns, changing the data type of a column, or renaming a table.

TRUNCATE: It is used to delete all the data from a table, but it does not delete the table structure.

------------------------------------------------------------------------------
**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**
------------------------------------------------------------------------------

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in relational databases. DML commands are used to insert, update, and delete records in a database.

INSERT: The INSERT command is used to insert new records into a table. 

UPDATE: The UPDATE command is used to update existing records in a table. 

DELETE: The DELETE command is used to delete existing records from a table.

------------------------------------------------------------------------------
**Q4. What is DQL? Explain SELECT with an example.**
------------------------------------------------------------------------------

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query and retrieve data from a database.

SELECT is a statement used in DQL to retrieve data from one or more tables in a database. The basic syntax of the SELECT statement is as follows:
SELECT name, salary FROM employees;

------------------------------------------------------------------------------
**Q5. Explain Primary Key and Foreign Key. **
------------------------------------------------------------------------------

A primary key is a column or set of columns in a database table that uniquely identifies each row in the table. It is a critical component of a database because it allows for efficient searching, sorting, and updating of data in the table. Primary keys must have unique values, and they cannot contain null values. A primary key is typically created when a table is first created, and it is used to enforce data integrity constraints, such as ensuring that there are no duplicate rows in the table.

A foreign key is a column or set of columns in a database table that refers to the primary key of another table. It is used to establish a relationship between two tables, where the foreign key in one table references the primary key in another table. This relationship is often referred to as a parent-child relationship or a one-to-many relationship.

------------------------------------------------------------------------------
**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**
------------------------------------------------------------------------------

In [ ]:
import pymysql

# Establish connection to MySQL database
connection = pymysql.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

# Create a cursor object
cursor = connection.cursor()

# Execute a SQL query
cursor.execute("SELECT * FROM yourtable")

# Fetch data from the cursor object
data = cursor.fetchall()

# Print the data
for row in data:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()



"""The cursor() method creates a cursor object, which is used to execute SQL queries and fetch data from the database. The execute() method is used to execute SQL queries on the cursor object. The SQL query is passed as an argument to this method."""

------------------------------------------------------------------------------
**Q7. Give the order of execution of SQL clauses in an SQL query.**
------------------------------------------------------------------------------


FROM: This clause specifies the table(s) from which the data is being retrieved.

WHERE: This clause is used to filter the data based on certain conditions.

GROUP BY: This clause is used to group the data based on one or more columns.

HAVING: This clause is used to filter the grouped data based on certain conditions.

SELECT: This clause specifies the columns that are being selected from the table(s).

DISTINCT: This clause is used to remove duplicate rows from the result set.

ORDER BY: This clause is used to sort the data based on one or more columns.

LIMIT: This clause is used to limit the number of rows returned by the query.